
.sidebar{
    min-width: 256px;
    min-height: 100vh;
    position: fixed;
}
.sidebar-wrap{
    min-width: 256px;
    min-height: 100vh;
    background-color: #1B2852;
}

@media(max-width: 1200px){
    .sidebar{
        min-width: 150px;

    }
    .sidebar-wrap{
        min-width: 150px;

    }
 }